In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('task_data.csv')
data['datetime'] =pd.to_datetime(data.datetime)
data

,datetime,session_id,visitor_id,is_internal_ip,page_type,event_type,params,om_source,device_class,env
0,2021-01-23 11:57:09.286000+00:00,56b8ee8e3467edb774252ddeec6d9243e13b5fc9,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_gallery_opened,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",NaN,phone,production
1,2021-01-23 11:57:02.303000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_date_init,"{""event_content"":{""start"":""2021-08-01"",""end"":""...",nestpick,phone,production
2,2021-01-23 11:57:01.873999+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",nestpick,phone,production
3,2021-01-23 11:57:02.028000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",nestpick,phone,production
4,2021-01-23 11:57:04.349000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,cookie_banner_all_cookies,"{""page"":{""title"":""EXKLUSIVE WOHNUNG SALAMANCA ...",nestpick,phone,production
...,...,...,...,...,...,...,...,...,...,...
76533,2021-01-23 12:58:08.093999+00:00,8bc40fec35a79acf0248fa42afcff0a2c232d53d,a0e77abef642ebc507e1d7636680f59300396514,False,apartment_view,apartment_image_gallery_swipe,"{""event_content"":{""ga"":{""category"":""Tile Pictu...",facebook,phone,production
76534,2021-01-23 14:48:29.653000+00:00,02cd3cb1ea4f9bffedfcfc694459072c18364bc4,ed2f8bb5a943dccd935170b7f06895732b710392,False,apartment_view,apartment_date_init,"{""event_content"":{""start"":""2021-02-01"",""end"":""...",facebook,phone,production
76535,2021-01-23 13:07:43.169999+00:00,9d82efe6b326b54660893bafd61ce0c26de2d341,460bf530d5efbd784335e4dc2f15692e97573e3a,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""Nice apar...",facebook,phone,production
76536,2021-01-23 13:07:42.997000+00:00,9d82efe6b326b54660893bafd61ce0c26de2d341,460bf530d5efbd784335e4dc2f15692e97573e3a,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",facebook,phone,production
76537,2021-01-23 13:14:31.409999+00:00,NaN,NaN,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",NaN,other,production

In [4]:
#filter to get only enviornment 
data= data[data['env'].isin(['production'])]
data

,datetime,session_id,visitor_id,is_internal_ip,page_type,event_type,params,om_source,device_class,env
0,2021-01-23 11:57:09.286000+00:00,56b8ee8e3467edb774252ddeec6d9243e13b5fc9,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_gallery_opened,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",NaN,phone,production
1,2021-01-23 11:57:02.303000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_date_init,"{""event_content"":{""start"":""2021-08-01"",""end"":""...",nestpick,phone,production
2,2021-01-23 11:57:01.873999+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",nestpick,phone,production
3,2021-01-23 11:57:02.028000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",nestpick,phone,production
4,2021-01-23 11:57:04.349000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,cookie_banner_all_cookies,"{""page"":{""title"":""EXKLUSIVE WOHNUNG SALAMANCA ...",nestpick,phone,production
...,...,...,...,...,...,...,...,...,...,...
76533,2021-01-23 12:58:08.093999+00:00,8bc40fec35a79acf0248fa42afcff0a2c232d53d,a0e77abef642ebc507e1d7636680f59300396514,False,apartment_view,apartment_image_gallery_swipe,"{""event_content"":{""ga"":{""category"":""Tile Pictu...",facebook,phone,production
76534,2021-01-23 14:48:29.653000+00:00,02cd3cb1ea4f9bffedfcfc694459072c18364bc4,ed2f8bb5a943dccd935170b7f06895732b710392,False,apartment_view,apartment_date_init,"{""event_content"":{""start"":""2021-02-01"",""end"":""...",facebook,phone,production
76535,2021-01-23 13:07:43.169999+00:00,9d82efe6b326b54660893bafd61ce0c26de2d341,460bf530d5efbd784335e4dc2f15692e97573e3a,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""Nice apar...",facebook,phone,production
76536,2021-01-23 13:07:42.997000+00:00,9d82efe6b326b54660893bafd61ce0c26de2d341,460bf530d5efbd784335e4dc2f15692e97573e3a,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",facebook,phone,production
76537,2021-01-23 13:14:31.409999+00:00,NaN,NaN,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",NaN,other,production

In [5]:
# filter not internal traffic (is_internal_ip= False)

data=data[data['is_internal_ip']==False]
data

,datetime,session_id,visitor_id,is_internal_ip,page_type,event_type,params,om_source,device_class,env
0,2021-01-23 11:57:09.286000+00:00,56b8ee8e3467edb774252ddeec6d9243e13b5fc9,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_gallery_opened,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",NaN,phone,production
1,2021-01-23 11:57:02.303000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_date_init,"{""event_content"":{""start"":""2021-08-01"",""end"":""...",nestpick,phone,production
2,2021-01-23 11:57:01.873999+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",nestpick,phone,production
3,2021-01-23 11:57:02.028000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",nestpick,phone,production
4,2021-01-23 11:57:04.349000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,cookie_banner_all_cookies,"{""page"":{""title"":""EXKLUSIVE WOHNUNG SALAMANCA ...",nestpick,phone,production
...,...,...,...,...,...,...,...,...,...,...
76533,2021-01-23 12:58:08.093999+00:00,8bc40fec35a79acf0248fa42afcff0a2c232d53d,a0e77abef642ebc507e1d7636680f59300396514,False,apartment_view,apartment_image_gallery_swipe,"{""event_content"":{""ga"":{""category"":""Tile Pictu...",facebook,phone,production
76534,2021-01-23 14:48:29.653000+00:00,02cd3cb1ea4f9bffedfcfc694459072c18364bc4,ed2f8bb5a943dccd935170b7f06895732b710392,False,apartment_view,apartment_date_init,"{""event_content"":{""start"":""2021-02-01"",""end"":""...",facebook,phone,production
76535,2021-01-23 13:07:43.169999+00:00,9d82efe6b326b54660893bafd61ce0c26de2d341,460bf530d5efbd784335e4dc2f15692e97573e3a,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""Nice apar...",facebook,phone,production
76536,2021-01-23 13:07:42.997000+00:00,9d82efe6b326b54660893bafd61ce0c26de2d341,460bf530d5efbd784335e4dc2f15692e97573e3a,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",facebook,phone,production
76537,2021-01-23 13:14:31.409999+00:00,NaN,NaN,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",NaN,other,production

In [6]:
# third filter rows without a session_id, page_type, event_type
data= data[data['session_id'].notnull() & data['page_type'].notnull() & data['event_type'].notnull()] 
data

,datetime,session_id,visitor_id,is_internal_ip,page_type,event_type,params,om_source,device_class,env
0,2021-01-23 11:57:09.286000+00:00,56b8ee8e3467edb774252ddeec6d9243e13b5fc9,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_gallery_opened,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",NaN,phone,production
1,2021-01-23 11:57:02.303000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,apartment_date_init,"{""event_content"":{""start"":""2021-08-01"",""end"":""...",nestpick,phone,production
2,2021-01-23 11:57:01.873999+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",nestpick,phone,production
3,2021-01-23 11:57:02.028000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""EXKLUSIVE...",nestpick,phone,production
4,2021-01-23 11:57:04.349000+00:00,fb651c2fcb0f529123439d8c2a77ec722f14bf98,fb651c2fcb0f529123439d8c2a77ec722f14bf98,False,apartment_view,cookie_banner_all_cookies,"{""page"":{""title"":""EXKLUSIVE WOHNUNG SALAMANCA ...",nestpick,phone,production
...,...,...,...,...,...,...,...,...,...,...
76532,2021-01-23 13:06:10.991000+00:00,8bc40fec35a79acf0248fa42afcff0a2c232d53d,a0e77abef642ebc507e1d7636680f59300396514,False,apartment_view,apartment_image_gallery_swipe,"{""event_content"":{""ga"":{""category"":""Tile Pictu...",facebook,phone,production
76533,2021-01-23 12:58:08.093999+00:00,8bc40fec35a79acf0248fa42afcff0a2c232d53d,a0e77abef642ebc507e1d7636680f59300396514,False,apartment_view,apartment_image_gallery_swipe,"{""event_content"":{""ga"":{""category"":""Tile Pictu...",facebook,phone,production
76534,2021-01-23 14:48:29.653000+00:00,02cd3cb1ea4f9bffedfcfc694459072c18364bc4,ed2f8bb5a943dccd935170b7f06895732b710392,False,apartment_view,apartment_date_init,"{""event_content"":{""start"":""2021-02-01"",""end"":""...",facebook,phone,production
76535,2021-01-23 13:07:43.169999+00:00,9d82efe6b326b54660893bafd61ce0c26de2d341,460bf530d5efbd784335e4dc2f15692e97573e3a,False,apartment_view,page_view,"{""event_content"":{},""page"":{""title"":""Nice apar...",facebook,phone,production
76536,2021-01-23 13:07:42.997000+00:00,9d82efe6b326b54660893bafd61ce0c26de2d341,460bf530d5efbd784335e4dc2f15692e97573e3a,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",facebook,phone,production

In [7]:
# Show user count by type device_class
user_device_class = pd.DataFrame(data.groupby('device_class'))
user_device_class[0]

0        bot
1    desktop
2      other
3      phone
4     tablet
Name: 0, dtype: object

In [8]:
#  Show user count by each user's first (min datetime) non-null om_source . If the user
#  journey contains no data for om_source relabel the null value as “ no_om_source ”

user_with_dateTime = pd.DataFrame(data.groupby('device_class')['datetime'].min())


with_no_om_source=data[data['datetime'].isin(user_with_dateTime['datetime'])]
with_no_om_source['om_source']= with_no_om_source.om_source.fillna('no_om_source')
with_no_om_source

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,datetime,session_id,visitor_id,is_internal_ip,page_type,event_type,params,om_source,device_class,env
3058,2021-01-23 11:19:09.873000+00:00,92f39c0081e995777f2e3ce857f1367703a1e63f,92f39c0081e995777f2e3ce857f1367703a1e63f,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",no_om_source,bot,production
3068,2021-01-23 12:03:21.649000+00:00,ded6d0a982266a91d4b17fc490425be950a7193b,ded6d0a982266a91d4b17fc490425be950a7193b,False,cms,page_view,"{""event_content"":{},""page"":{""page_type"":""cms""}}",no_om_source,other,production
39959,2021-01-23 11:00:01.442999+00:00,d500518cc68fbd0960fc802aca9dd2a92593c9ea,6319db4a62abaca90ad7692d26bf7257dac66c08,False,search_page,search_apartment-preview-closed,"{""event_content"":{""apartment_link"":""/apartment...",adwords,tablet,production
41847,2021-01-23 11:00:01.350000+00:00,2475f7655ea3adadc5cf0e4b799ac43e11d8c8c7,2475f7655ea3adadc5cf0e4b799ac43e11d8c8c7,False,apartment_view,page_view_init,"{""page"":{""page_type"":""apartment_view"",""country...",adwords,desktop,production
71446,2021-01-23 11:00:00.737000+00:00,a3fef7660ebc7dbd05a55bbe033325eb2125fd17,f37a3a2285c601739a95c5e569514c4508423b00,False,search_page,Click on filter label,"{""event_content"":{""ga"":{""category"":""Filter"",""a...",no_om_source,phone,production

In [9]:
# Show how many user journeys started on page_type=search_page and any point
#after in their user journey visited page_type=apartment_view

grouped_by_session=pd.DataFrame(data.groupby('session_id'))
grouped_by_session

,0,1
0,000727d438a0e2c05f6572373e74ee71c79d248b,datetime \ 3405 ...
1,001277072b953984f5d7fcf7575e06841fd30bc2,datetime \ 4668...
2,00442841b7b396c3358671e146a764602443d60f,datetime \ 3643...
3,00464d1e43c3de4bff653fcb75befb6f0a47ad9b,datetime \ 7460...
4,00484e342b45b0c1195ce9d48efc0bc3863e62b0,datetime \ 680 20...
...,...,...
3628,ffa92432b98ac27d446bef79f9f461a4209320f8,datetime \ 5618 ...
3629,ffaa802395d83ef7c3b4dc5b65fa7e7cf67344f5,datetime \ 3807...
3630,ffd3b0c4189d2bb7c1aecd73d0d924f230a3de83,datetime \ 2761 ...
3631,ffe7deadae038a7b488a00ee5ff33fd64276a60a,datetime \ 2456...
3632,fff8f0ca77cb0889d2701ff1e1c100f2572840c7,datetime \ 4651...

In [10]:
# Show how many users had a session duration of <= 5 seconds

session_dict=dict()
session_searchpage=dict()
session_apparnment_view=dict()
for entity in (grouped_by_session[1].tolist()):
    sessions=entity.sort_values(by='datetime',ascending=False)
    if len(sessions) > 0:
        session_dateTime = sessions.datetime.tolist()
        #for task a
        if (sessions.page_type.tolist()[0] == "search_page"):
            session_searchpage[sessions.session_id.any()]=True
        # for task b
        if (sessions.page_type.tolist()[-1] == "apartment_view"):
            session_apparnment_view[sessions.session_id.any()]=True
            
        count=0
        for y in range(len(session_dateTime)-1):
            diff = session_dateTime[y] - session_dateTime[y+1]
            
            if (diff.total_seconds() <= 5):
                count+=1
        session_dict[sessions.session_id.any()]=count
    else:
        pass

In [11]:
session_with_count= pd.DataFrame.from_dict(list(session_dict.items())  )
session_with_count = session_with_count[session_with_count[1] >0]
session_with_count

                                             0   1
2     00442841b7b396c3358671e146a764602443d60f   3
3     00464d1e43c3de4bff653fcb75befb6f0a47ad9b   2
5     0048635b64173131a8eface0669e19406a8e4fdb   1
6     004da9a8ea34b132bb8cb2f78899c74ced50a940   2
7     005bd232b11eb192a669a68f27bb1408e87dff7e   1
...                                        ...  ..
3628  ffa92432b98ac27d446bef79f9f461a4209320f8   3
3629  ffaa802395d83ef7c3b4dc5b65fa7e7cf67344f5   2
3630  ffd3b0c4189d2bb7c1aecd73d0d924f230a3de83  39
3631  ffe7deadae038a7b488a00ee5ff33fd64276a60a   9
3632  fff8f0ca77cb0889d2701ff1e1c100f2572840c7  91

[3144 rows x 2 columns]

In [12]:
#How many of those user journeys started on page_type=search_page
task3a=pd.DataFrame.from_dict(list(session_apparnment_view.items())  )
task3a

                                             0     1
0     001277072b953984f5d7fcf7575e06841fd30bc2  True
1     00442841b7b396c3358671e146a764602443d60f  True
2     0048635b64173131a8eface0669e19406a8e4fdb  True
3     004da9a8ea34b132bb8cb2f78899c74ced50a940  True
4     005bd232b11eb192a669a68f27bb1408e87dff7e  True
...                                        ...   ...
1578  ff6e89de64b04de74bc89ff1cbe027cfc85113b6  True
1579  ff75f462b1d9162807382e04e0bfd88a36f21605  True
1580  ff7fdc82d386167be8b3ae5dc3cf4baf9605f05f  True
1581  ffaa802395d83ef7c3b4dc5b65fa7e7cf67344f5  True
1582  fff8f0ca77cb0889d2701ff1e1c100f2572840c7  True

[1583 rows x 2 columns]

In [13]:
#How many of those user journeys ended on page_type=apartment_view
task3_b=pd.DataFrame.from_dict(list(session_searchpage.items())  )

In [14]:
#Show how many user journeys started on page_type=search_page and any point
#after in their user journey visited page_type=apartment_view

user_searchpage=dict()
for entity in (grouped_by_session[1].tolist()):
    sessions=entity.sort_values(by='datetime',ascending=False)
    if (sessions.page_type.tolist()[0] == "search_page" and "apartment_view" in sessions.page_type.tolist()[1:] ):
        user_searchpage[sessions.session_id.any()]=True
    else:
        pass

In [15]:
# user journeys started on page_type=search_page and any point after in their user 
#journey visited page_type=apartment_view
task4=pd.DataFrame.from_dict(list(user_searchpage.items())  )
task4

                                            0     1
0    01ca56b32b60f2b0eacf791f76ace1febeb1da5f  True
1    03a390caa232c2bbaea2e86247a5d242b53f282a  True
2    044463626dee5259a26a894cd6d3546d97bf6d4b  True
3    044d4bc6e7bab364c5b9001e5b96320bd812ca6d  True
4    07be75ec9a40c59b424a44bc39b910b833da70e8  True
..                                        ...   ...
213  fdb5c350fd323bc298b86bef9a0811be322c914d  True
214  feaa1981bfbed33c5cbe4b729e0985e3e4858bd5  True
215  ff6e89de64b04de74bc89ff1cbe027cfc85113b6  True
216  ff75f462b1d9162807382e04e0bfd88a36f21605  True
217  fff8f0ca77cb0889d2701ff1e1c100f2572840c7  True

[218 rows x 2 columns]

In [16]:
 #Show how many users at any point in their user journey executed an event_type =
# ‘click_book-now’

event_clicknow=dict()
for entity in (grouped_by_session[1].tolist()):
    sessions=entity.sort_values(by='datetime',ascending=False)
    if ("click_book-now" in sessions.event_type.tolist()):
        event_clicknow[sessions.session_id.any()]=True
    else:
        pass
    
task5=pd.DataFrame.from_dict(list(event_clicknow.items())  )
task5

                                           0     1
0   02ab1821160b5cdaf85864425b332693fd5b30d3  True
1   1181860330e7dde2f5311055c2c35cf08461ce20  True
2   1a94327b6b004d3bfad282abb47900103c609e81  True
3   1cb8087b1ab1e1cbc2b3c4be5a340832cd24544d  True
4   21b1eeef4b7185dca14cfbb4a1c7dd9346c4dcc1  True
..                                       ...   ...
62  e75423678721928018eb24abebb2b3cda621aa17  True
63  ed12c708c65e49b3b268a3b84369471b6f1bee2e  True
64  f313207230e732d99b6fd8ee364a2f3425a374df  True
65  f7e01bdc1a05d502a3a6c120ed45f376e68eb854  True
66  feaa1981bfbed33c5cbe4b729e0985e3e4858bd5  True

[67 rows x 2 columns]

In [17]:
#Show how many users who started on page_type = search_page executed an
#event_type = ‘request_draft-created’
user_with_searchpyge_event_type=dict()
for entity in (grouped_by_session[1].tolist()):
    sessions=entity.sort_values(by='datetime',ascending=False)
    if (sessions.page_type.tolist()[0]=='search_page' and 'request_draft-created' in sessions.event_type.tolist()):
        user_with_searchpyge_event_type[sessions.session_id.any()]=True
    else:
        pass
    
task6=pd.DataFrame.from_dict(list(user_with_searchpyge_event_type.items())  )
task6

Empty DataFrame
Columns: []
Index: []

## This following analysis measures your ability to extract data from a field with a JSON structure.
## You will make use of the params field data for the following analysis along with the other fields.

In [121]:
import json

#Show how many users set a price filter above 1200 EUR and how many set a price filter
#below 1200 EUR (e.g {"event_content":{"price":1200, “currency":"EUR”}}). If the
#currency is not EUR you can ignore that session.

filtered_json_data= dict()
for entity in (grouped_by_session[1].tolist()):
    for para in entity.params:
        json_data=json.loads(para)
        if 'price' in json_data['page'] :
            if json_data['page']['price'] == None:
                pass
            elif (int(json_data['page']['price']) >1200 and json_data['page']['currency'] == 'EUR'):
                filtered_json_data[entity.session_id.any()]=True
            else:
                pass
        else:
            pass

In [110]:
task7=pd.DataFrame.from_dict(list(filtered_json_data.items())  )
task7

                                            0     1
0    00a1276f0301d3848975ad99691c9cb98e0d7770  True
1    00c17e948679f69041ea8f01408fd101a9d0f717  True
2    01ca56b32b60f2b0eacf791f76ace1febeb1da5f  True
3    02c61d32e6e596147daad6af19bc09561b9c6a50  True
4    03eec6bdd81311e4e6ee766a53075f2a94fd9419  True
..                                        ...   ...
544  fd337130b09d97aa528d4926b8f623b9ef2abe83  True
545  fd58fb2d8e7849b54eea0d37840fc2d70a0cd909  True
546  fe79f5b5ce9c47b8fc4341b3232c581c848d3654  True
547  fecfaf92efd92270288e90404eb047d6b057c6a9  True
548  ff5118659f84987cb6c65d16518e1e4cbd27bb51  True

[549 rows x 2 columns]

In [120]:
contain_req_id= dict()
for entity in (grouped_by_session[1].tolist()):
    for para in entity.params:
        json_data=json.loads(para)
        if 'request_id' in json_data['page'] :
            contain_req_id[entity.session_id.any()]=True
        else:
            pass

In [118]:
task8=pd.DataFrame.from_dict(list(contain_req_id.items())  )
task8

                                           0     1
0   044463626dee5259a26a894cd6d3546d97bf6d4b  True
1   04d289df07febceeb9fb56c1c6a9d20eedb4abac  True
2   1181860330e7dde2f5311055c2c35cf08461ce20  True
3   11e2b08663aaade330cbbfa631d9943f932e046f  True
4   12af7e99075198e9e84595db4c1e20d09066d6da  True
..                                       ...   ...
66  efc54a1a92fc0c634494f588adac49c58cc56ce2  True
67  f08f73a2d5b858d44acf0169b84288bbcf087f23  True
68  f313207230e732d99b6fd8ee364a2f3425a374df  True
69  fb149967fc5b671f583ae4fee55c558fd4a41931  True
70  feaa1981bfbed33c5cbe4b729e0985e3e4858bd5  True

[71 rows x 2 columns]

# Creating JSON result File

In [131]:
import json

json_return = {"analysis_1" :user_device_class[0].to_json, "analysis_2":len(with_no_om_source) , 
               "analysis_3":len(grouped_by_session),"analysis_3-a":len(task3a) ,
              "analysis_3-b":len(task3_b), "analysis_4":len(task4) , "analysis_5":len(task5),
              "analysis_6":len(task6), "analysis_7": len(task7), "analysis_8": len(task8) }

json_return

{'analysis_1': <bound method NDFrame.to_json of 0        bot
 1    desktop
 2      other
 3      phone
 4     tablet
 Name: 0, dtype: object>,
 'analysis_2': 5,
 'analysis_3': 3633,
 'analysis_3-a': 1583,
 'analysis_3-b': 1715,
 'analysis_4': 218,
 'analysis_5': 67,
 'analysis_6': 0,
 'analysis_7': 549,
 'analysis_8': 71}